<% @tasks.each do |task| %>
	<div class='task-item'>
		<div class='task-name'>
			<%= task.name %>
		</div>
		<div class='task-description'>
			<%= task.description %>
		</div>
		<div class='task-due'>
			<%= task.due %>
		</div>
		<div class='task-options'>
			<%= link_to "Edit", edit_task_path(id: task.id), method: :get, class: 'link-button' %>
			<%= link_to "Destroy", task_path(id: task.id), method: :delete, data: { confirm: "You sure you wanna delete this task?" }, class: 'link-button' %>
		</div>
	</div>
<% end %>

</br>

<%= link_to "Create New Task", new_task_path, class: 'task-create' %>
