<div class='form-container'>
<div class='form'>
<%= form_for :task do |f| %>
	<div class='form-field'>
    Name: <%= f.text_field :name, class: 'form-box'%>
    </div>
    <div class='form-field'>
    Description : <%= f.text_area :description, class: 'form-box' %>
    </div>
    <div class='form-field'>
    Due : <%= f.number_field :due, class: 'form-box' %>
    </div>
    <span class='form-field'>
    <%= f.submit 'Save Task', class: 'link-button' %>
    </span>
<% end %>
</div>
</div>