// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: url('http://www.planwallpaper.com/static/images/Nature-Background-Wallpapers-8_gxwmqmj.jpg');
}

.task-item {
	margin: 32px 16px;
	padding: 8px;
	background-color: lightblue;
	text-align: center;
	opacity: 0.9;
}

.task-name {
	font-size: 32px;
	font-family: 'Baloo Bhaina', cursive;
}

.task-description {
	font-size: 16px;
}

.task-due {
	font-size: 16px;
}

.link-button {
	padding: 6px 9px;
	background: #4479BA;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	opacity: 1;
}

.task-options {
	text-align: right;
}

.task-create {
	position: fixed;
	padding: 6px;
	top: 16px;
	left: 16px;
	background: #4479BA;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

.form-box {
	background: #333;
	color: #ccc;
	width: 150px;
	padding: 6px 15px 6px 35px;
	transition: 500ms all ease;
	border: 1px solid #333;
}

.form-box:hover {
	box-shadow: 12px 13px 0px rgba(204, 211, 51, 0.38),
	-11px -14px 0px rgba(241, 96, 0, 0.28),
	18px -24px 0px rgba(0, 0, 0, 0.34),
	33px -6px 0px rgba(39, 74, 214, 0.28);
}

.form-field {
	margin: 32px auto;
	color: white;
	font-size: 32px;
}

.form-container {
	width: 100%;
	text-align: center
}
.form {
	margin: 0 auto;
	margin-top: 200px;
	display: block;
}
